#=========================================================================
# .gitignore
# Extensions that you do not want git to track
#=========================================================================

#=========================================================================
# temporal related extensions
#=========================================================================
*.swm

#=========================================================================
# Python related extensions
#=========================================================================
*.swp
*.swn
*.swo

#=========================================================================
# Python related extensions
#=========================================================================
*.pyc
.ipynb_checkpoints
