#=========================================================================
# .gitignore
# Extensions that you do not want git to track
#=========================================================================

#=========================================================================
# Python related extensions
#=========================================================================
*.swp

#=========================================================================
# Python related extensions
#=========================================================================
*.pyc
.ipynb_checkpoints
